body{ 
 font-style: normal;
 text-decoration: none; 
 color: #2F4F4F;  

}
/*here i set my logo's position and size*/
.logo_image{
    display: block;	
	margin-top: -3.5em;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
    position: center;
}

table, th {
  border-style: none;
  margin:0 0 0 16em;
  padding:0 0 0 0;
}
th{
padding:0 4em 0 0;
}
/*i set link's color*/
a{
 color: #2F4F4F;
 text-decoration: none;
 border: none;
}

